.dual-list-selector-wrapper {
}

.dual-list-selector-wrapper .mp-button-container {
  padding: 20px 3px 0px 3px;
}
.dual-list-selector-wrapper .btn {
  width: 30px;
  margin: 5px auto;
  display: block;
  padding: 5px;
}

.dual-list-selector-wrapper .items-container {
  overflow-y: auto;
}

.dual-list-selector-wrapper div.dls-selected {
  background-color: #9ba4ac;
}

.dual-list-selector-wrapper div.list-item:first-child {
  margin-top: 10px;
}

.dual-list-selector-wrapper div.list-item:last-child {
  margin-bottom: 10px;
}

.dual-list-selector-wrapper div.list-item {
  padding: 5px;
}

.dual-list-selector-wrapper div.list-item:hover {
  background-color: #acb5bd;
}
